#title {
  font-size: 1.7rem;
  margin-top: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login {
  margin: 1rem 0.3rem 0 0.8rem;
}


/*/ USER /*/

.containerUser {
  display: flex;
}

#bannerImg {
  margin-top: 7rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3rem;
  border: 1px solid black;
}

.bannerEditIcon {
  position: absolute;
  padding: 10rem 0 0 10rem;
  color: #212529;
  left: 66%;
  top: -3%;
}

.fa-pen.bannerEditIcon {
  color: #edf2f4;
  top: -0.5%;
  left: 66.6%;
}

#user-pic-about {
  padding-top: 1rem;
}

#userImg {
  width: 100%;
  margin-left: 6.1rem;
  display: inline-block;
  place-items: center;
  border: 3px solid black;
}

.userImgEditIcon {
  position: absolute;
  color: #212529;
  margin-left: 0.5em;
  /* display: flex;
  justify-content: flex-end; */
}

.fa-pen.userImgEditIcon { 
  color: #edf2f4;
  margin-top: 1em;
  margin-left: 1.5em;
}

.userName {
  /* background-color: #44626D; */
  margin: 0.5em 0 0 5.9em;
  text-shadow: 1px 1px 4px grey;
  display: inline-block;
  /* padding: 1em 3em 1em 1em; */
  /* padding: 0.5em 0 0 5.7em; */
}

.fa-circle.userNameEditIcon {
  display: inline-block;
  margin: 5.5em 0 0 0.4em;
  color: #212529;
}

.fa-pen.userNameEditIcon {
  color: #edf2f4;
  position: absolute;
  margin: 1.55em 0 0 1.85em;
}

#about-me {
  background-color: #44626D;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  border-radius: 1rem;
  width: 30%;
  color: #edf2f4;
  border: solid 1px black;
}

#about {
  background-color: #C2D3D9;
  border-radius: 1rem;
  width: 58.3%;
  border: solid 1px black;
}

.lead {
  font-weight: 400;
  line-height: 2rem;
}

/* .userAboutEditIcon {
  background-color: royalblue;
  /* display: block; */
  /* color: burlywood; */
/*} */

.fa-pen.userAboutEditIcon {
  position: absolute;
  margin: 1em 0 0 -1.5em;
  color: #edf2f4;
}

/* #userAboutDeleteCircleIcon {
  background-color: #C4C1D9;
} */

/* .fa-xmark.userAboutEditIcon {
  position: absolute;
  margin: 1em 4em 0.5em 0;
  color: rosybrown;
  background-color: #C6EB86;
} */



/*/ EXPERIENCIA /*/

.experienceDiv {
  padding-top: 8rem;
  max-width: 76%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

.exp {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  border: solid 1px black;
  background-color: #444D6E;
  color: #edf2f4;
  padding: 1rem 2rem;
  margin-left: 4.7rem;
  width: fit-content;
  border-radius: 5px;
}

.container-exp {
  border: solid 1px black;
  margin: 2rem 5rem -5rem 5rem;
  border-radius: 1rem;
  background-color: #C4C1D9;

  display: grid;
  grid-template-columns: 15rem 1fr 2rem;
  grid-template-rows: repeat(3, 12rem);
  /* grid-auto-flow: column; */
  gap: 2.7rem 2rem;
}

.item {
  overflow: auto;
  /* border: 4px solid black ; */
}

.experience-education-logo {
  display: grid;
  margin: auto auto;
  width: 180px;
  height: 160px;
  border-radius: 4rem;
}

#youtubeLogo {
  margin-top: 2rem;
}

.info-text {
  padding: 8px 20px;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
}

.expEditPen {
  position: absolute;
  margin: 1em 0 0 -1.5em;
  color: #edf2f4;
}

/*/EDUCACION/*/

.container-edu {
  border: solid 1px black;
  margin: 2rem 5rem 1rem 5rem;
  border-radius: 1rem;
  background-color: #C4C1D9;

  display: grid;
  grid-template-columns: 15rem 1fr 2rem;
  grid-template-rows: 12rem 12rem;
  gap: 2.7rem 2rem;
}

#utnLogo {
  margin-top: 2rem;
}

.skills {
  text-align: center;
  width: 67.5%;
  margin: auto;
  border: solid 1px black;
  height: 50%;
  background-color: #B6D1C6;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
}

#skillsTitle {
  background-color: #456E5D;
  color: #edf2f4;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

/* .skillsEditIcon, .projectsEditIcon {
  /* display: flex; */
  /* justify-content: center; */
  /* padding-left: em; */
  /* margin-left: 10em; */
/*} */

.skillsDiv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

#hardSkillsTitle,
#softSkillsTitle {
  text-decoration: underline 4px solid #456E5D;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skill {
  text-align: start;
}

.skillName {
  display: inline-block;
  background-color: #578B75;
  color: #edf2f4;
  border: 1px solid black;
  padding: 1rem 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.fa-star {
  margin-left: 0.5rem;
}


.divProjectsParent {
  border: solid 1px black;
  height: 50%;
  background-color: #F7C6A8;
  text-align: center;
  width: 67.5%;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  margin: 3rem auto;
}

.divProjectsTitle {
  background-color: #e36414;
  color: #edf2f4;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem 2rem;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.divProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
}

.atm {
  grid-column: 1;
  grid-row: 1/3;
}

.atm,
.batallaNaval,
.dbDePersonas {
  background-color: #C6EB86;
  padding: 0 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.projectTitle {
  background-color: #F19962;
  border: 1px solid black;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
}

.divProjects p {
  font-size: 1.4rem;
}