<div class="divProjectsParent">
    <h2 class="divProjectsTitle">
        Projects
    </h2>
    <div class="divProjects">
        <div class="atm">
            <h5 class="projectTitle">
                ATM
            </h5>
            <p>
                Descripcion: Simulador no finalizado de ATM hecho en C#.
                <br>
                Fecha: 15/10/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/ATM">Link</a>
            </p>
        </div>
        <div class="batallaNaval">
            <h5 class="projectTitle">
                BATALLA NAVAL
            </h5>
            <p>
                Descripcion: Batalla naval para un jugador hecho en C#.
                <br>
                Fecha: 18/11/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/Batalla-Naval">Link</a>
            </p>
        </div>
        <div class="dbDePersonas">
            <h5 class="projectTitle">
                DB DE PERSONAS
            </h5>
            <p>
                Descripcion: Semi CRUD de personas hecho en C#.
                <br>
                Fecha: 18/10/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/DB-de-personas">Link</a>
            </p>
        </div>
    </div>
</div>