<!-- PROJECTS -->
<div class="divProjectsParent">
    <h2 class="divProjectsTitle">
        Proyectos
    </h2>
    <!-- <div class="projectsEditIcon">
        <i class="fa-solid fa-circle fa-3x "></i>
        <i class="fa-solid fa-pen fa-xl expEditPen"></i>
    </div> -->

    
    <div class="divProjects">
        <div class="card">
            <img src="assets/ATM1.png" alt="card Image" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">ATM</h3>
                <p class="card-text">Simulador no finalizado de ATM hecho en C#.
                    <br>
                    Fecha: 15/10/22
                    <br><br><br><br><br>
                <a href="https://github.com/Peteribi73/ATM" class="btn btn-primary">Repositorio</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/PaginaBootstrap.png" alt="card Image" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">Pagina de Bootstrap</h3>
                <p class="card-text">Pagina web hecha casi enteramente con el framework Bootstrap.
                    <br>
                    Fecha: 29/11/12
                    <br><br>
                <a href="https://github.com/Peteribi73/Pagina-con-Bootstrap" class="btn btn-primary">Repositorio</a>
            </div>
        </div>

        <div class="card">
            <img src="assets/BatallaNaval.png" alt="card Image" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">Batalla Naval</h3>
                <p class="card-text">Batalla naval para un jugador hecho en C#.
                    <br>
                    Fecha: 18/11/22
                    <br><br><br><br>
                <a href="https://github.com/Peteribi73/Batalla-Naval" class="btn btn-primary">Repositorio</a>
            </div>
        </div>




        <!-- <div class="atm">
            <h5 class="projectTitle">
                ATM
            </h5>
            <p>
                Descripcion: Simulador no finalizado de ATM hecho en C#.
                <br>
                Fecha: 15/10/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/ATM">Link</a>
            </p>
        </div>
        <div class="batallaNaval">
            <h5 class="projectTitle">
                BATALLA NAVAL
            </h5>
            <p>
                Descripcion: Batalla naval para un jugador hecho en C#.
                <br>
                Fecha: 18/11/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/Batalla-Naval">Link</a>
            </p>
        </div>
        <div class="dbDePersonas">
            <h5 class="projectTitle">
                DB DE PERSONAS
            </h5>
            <p>
                Descripcion: Semi CRUD de personas hecho en C#.
                <br>
                Fecha: 18/10/22
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/DB-de-personas">Link</a>
            </p>
        </div>
        <div class="paginaBootstrap">
            <h5 class="projectTitle">
                Pagina de Bootstrap
            </h5>
            <p>
                Descripcion: Pagina web hecha casi enteramente con el framework Bootstrap.
                <br>
                Fecha: 29/11/12
                <br>
                Repositorio: <a href="https://github.com/Peteribi73/Pagina-con-Bootstrap">Link</a>
            </p>
        </div>
     -->
    </div>
</div>