<div class="bss">
    <!-- <app-header></app-header>
    <app-user-info></app-user-info>
    <app-exp-and-edu></app-exp-and-edu>
    <app-skills></app-skills>
    <app-projects></app-projects>
    <app-footer></app-footer>
    <app-logged-view></app-logged-view> -->
    <router-outlet></router-outlet>
    <router-outlet name="user-info"></router-outlet>
    <router-outlet name="exp-and-edu"></router-outlet>
    <router-outlet name="skills"></router-outlet>
    <router-outlet name="projects"></router-outlet>
    <router-outlet name="footer"></router-outlet>
</div>