<!-- SKILLS -->
<div class="skills">
    <h2 id="skillsTitle">Hard & Soft Skills</h2>
    <!-- <div class="skillsEditIcon">
        <i class="fa-solid fa-circle fa-3x "></i>
        <i class="fa-solid fa-pen fa-xl expEditPen"></i>
    </div> -->

    <div class="skillsDiv">
        <div class="hardSkills">

            <h3 id="hardSkillsTitle">Hard Skills</h3>

            <div class="skill">
                <h5 class="skillName">Angular:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>

            <div class="skill">
                <h5 class="skillName">POO:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>

            <div class="skill">
                <h5 class="skillName">HTML/CSS/JS:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>
        </div>

        <div class="softSkills">

            <h3 id="softSkillsTitle">Soft Skills</h3>

            <div class="skill">
                <h5 class="skillName">Comunicación:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>

            <div class="skill">
                <h5 class="skillName">Trabajo en equipo:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>

            <div class="skill">
                <h5 class="skillName">Liderazgo:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>

            <div class="skill">
                <h5 class="skillName">Rapidez para resolver problemas técnicos:</h5>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-solid fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
                <i class="fa-regular fa-star fa-2x"></i>
            </div>
        </div>
    </div>
</div>