<!-- EXPERIENCE -->
<div class="experienceDiv">
    <h2 class="exp">Experiencia</h2>
    <div class="container-exp px-5 py-3">
        <div>
            <img [src]="experience_1" alt="youtube logo" class="experience-education-logo" id="youtubeLogo">
        </div>
        <div class="item">
            <p class="h3 mt-3">Programador frontend en Youtube (2018-2019)</p>
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure
                perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure
                perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.
            </p>
        </div>
        <!-- <div>
            <i class="fa-solid fa-circle fa-3x "></i>
            <i class="fa-solid fa-pen fa-xl expEditPen"></i>
        </div> -->


        <div>
            <img [src]="experience_2" alt="letterboxd logo" class="experience-education-logo">
        </div>
        <div class="item">
            <p class="h3 mt-3">Programador backend en Letterboxd (2019-2022)</p>
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.
            </p>
        </div>
        <!-- <div>
            <i class="fa-solid fa-circle fa-3x "></i>
            <i class="fa-solid fa-pen fa-xl expEditPen"></i>
        </div> -->


        <div>
            <img [src]="experience_3" alt="netflix logo" class="experience-education-logo">
        </div>
        <div class="item">
            <p class="h3 mt-3">Programador backend en Netflix (2022-actualidad)</p>
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.
            </p>
        </div>
        <!-- <div>
            <i class="fa-solid fa-circle fa-3x "></i>
            <i class="fa-solid fa-pen fa-xl expEditPen"></i>
        </div> -->
    </div>
</div>


<!-- EDUCATION -->
<div class="experienceDiv">
    <h2 class="exp">Educación</h2>
    <div class="container-edu px-5 py-3">
        <div>
            <img [src]="education_1" alt="UTN logo" class="experience-education-logo" id="utnLogo">
        </div>
        <div class="item">
            <p class="h3 mt-3">Tecnico en Programacion - UTN (2022 - 2023)</p>
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure
                perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure
                perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.
            </p>
        </div>
        <!-- <div>
            <i class="fa-solid fa-circle fa-3x "></i>
            <i class="fa-solid fa-pen fa-xl expEditPen"></i>
        </div> -->

        <div>
            <img [src]="experience_2" alt="letterboxd logo" class="experience-education-logo">
        </div>
        <div class="item">
            <p class="h3 mt-3">Tecnico en Sistemas de computación - UTN (2023)</p>
            <p class="info-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea iure perspiciatis minima
                nesciunt
                cupiditate doloremque, totam eveniet.
                Quas ab similique at magnam ducimus temporibus? Ullam aperiam deleniti aut cum id consequuntur
                exercitationem
                repudiandae quisquam.
            </p>
        </div>
        <!-- <div>
            <i class="fa-solid fa-circle fa-3x "></i>
            <i class="fa-solid fa-pen fa-xl expEditPen"></i>
        </div> -->

    </div>
</div>