* {
    font-family: 'Sofia Sans', sans-serif;
}
body {
    /*/background-image: linear-gradient(#B5E48C, #34A0A4);/*/
    /*/background-color: /*//*/#34A0A4/*//*/#A4BFEB/*//*/#6D9F71/*//*/#6683b3/*//*/#7598d1;/*/
    /*/background-color: #3c096c;/*/
    background-color: /*/#fefae0/*/  /*/#ffc03d/*/ #edf2f4;
}