<body>
    <div class="container">
        <div class="containerUser">
            <img class="img-fluid" id="bannerImg" [src]="bannerImgSrc" alt="" />
        </div>

        <div class="row text-center mt-3" id="user-pic-about">
            <div class="col-md-3">
                <img [src]="userImgSrc" class="rounded-circle" id="userImg" alt="" />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8 about" id="about">
                <p class="h3 mt-2 py-2 px-1" id="about-me">Acerca de mi</p>
                <p class="lead mt-3 mb-2 text-start" id="aboutMeText">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi ea
                    iure perspiciatis minima nesciunt cupiditate doloremque, totam
                    eveniet. Quas ab similique at magnam ducimus temporibus? Ullam aperiam
                    deleniti aut cum id consequuntur exercitationem repudiandae quisquam.
                </p>
            </div>
        </div>
    </div>
</body>