<div class="container">
    <div>
        <div class="filler"></div>
        <div class="containerUser">
            <!-- <h1 class="text-light text-center">Hola, soy <br> Brian Velazquez <br> Desarrollador Web Full Stack Jr.</h1> -->
            <h3>Hola, soy</h3>
            <h1>Brian Ezequiel Velázquez</h1>
            <h2>Desarrollador Full Stack Jr.</h2>
            <!-- <img class="img-fluid" id="bannerImg" [src]="bannerImgSrc" alt="" /> -->
            <!-- <i class="fa-solid fa-circle fa-3x bannerEditIcon"></i>
            <i class="fa-solid fa-pen fa-xl bannerEditIcon"></i> -->
        </div>

        <div class="row text-center mt-3" id="user-pic-about">
            <div class="col-md-3">
                <img src='https://randomuser.me/api/portraits/men/20.jpg' class="img-fluid rounded-circle" id="userImg" alt="" />
                <!--[src]="userImgSrc"--> 
                 <h2 class="userName">Brian Ezequiel Velazquez</h2>
                <!-- <i class="fa-solid fa-pen fa-xl userNameEditIcon"></i> -->
            </div>
            <!-- <div class="col-md-1">
                <i class="fa-solid fa-circle fa-3x userImgEditIcon"></i>
                <i class="fa-solid fa-pen fa-xl userImgEditIcon"></i>

                <i class="fa-solid fa-circle fa-3x userNameEditIcon"></i>
                 <i class="fa-solid fa-pen fa-xl userNameEditIcon"></i>
            </div> -->
            <div class="col-md-1"></div>
            <div class="col-md-8 about" id="about">
                <p class="h3 mt-2 py-2 px-1" id="about-me">Acerca de mi</p>
                <p class="lead mt-3 mb-2 text-start" id="aboutMeText">
                    Estudiante de 18 años de la carrera "Tecnicatura Universitaria en Programación" de la UTN. <br> <br>
                    Dispongo de un conocimiento básico de C#, Typescript, <br> el FrontEnd (HTML, CSS, JavaScript) asi 
                    tambien como de algunos frameworks de estos (Angular, Bootstrap). <br> <br> Aspiro sobre todo  a profundizar mi 
                    conocimiento sobre el BackEnd <br> y a trabajar en una empresa de renombre.
                </p>
            </div>
            <!-- <div class="col-md-1">
                <i class="fa-solid fa-circle fa-3x userAboutEditIcon"></i>
                <i class="fa-solid fa-pen fa-xl userAboutEditIcon"></i>
                 <i class="fa-solid fa-xmark fa-3x userAboutEditIcon"></i>
                <i class="fa-solid fa-circle fa-3x userAboutEditIcon" id="userAboutDeleteCircleIcon"></i>
            </div> -->
        </div>
        <!-- <div class="row text-center mt-3" id="user-pic-about">
            <div class="col-md-3"></div>
            <div class="col-md-1">
                <i class="fa-solid fa-circle fa-3x userNameEditIcon"></i>
                <i class="fa-solid fa-pen fa-xl userNameEditIcon"></i>
            </div>
            <div class="col-md-8"></div>
        </div> -->
    </div>
</div>